AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L]

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|jpeg|js|png|swf|txt|pdf|xml)$
RewriteRule ^(.*)$ index.php
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
